@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
blockquote {
  font-family: "DM Serif Display", serif;
}

h1,
.h1 {
  font-size: 65px;
}

h2,
.h2 {
  font-size: 45px;
}

img {
  max-width: 100%;
}

blockquote {
  font-size: 28px;
}

sup,
.sup {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.underline::after {
  content: " ";
  border-bottom: 3px solid;
  position: relative;
  display: block;
  width: 50px;
  padding-top: 1rem;
}

.toast {
  bottom: 1rem;
  right: 1rem;
}

.underline.text-center::after {
  margin-left: auto;
  margin-right: auto;
}

.section-inverse {
  margin-top: 180px;
  padding: 1px 0px;
}

.section-inverse > div {
  margin-top: -180px;
}

.card-footer {
  background-color: white;
  padding: 1rem 1rem;
}

.background-image {
  background-position: center center;
  background-size: cover;
}

.navbar-light .navbar-nav .nav-link {
  text-transform: uppercase;
  padding-right: 1rem;
  padding-left: 1rem;
}

.circle {
  border-radius: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out;
}

.circle:hover {
  transform: scale3d(1.025, 1.025, 1.025);
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}

header.p-section {
  padding: 160px 0px 120px;
}

.p-section {
  padding: 100px 0px;
}

.p-section-lg {
  padding: 160px 0px;
}

.container-lg {
  max-width: 900px;
}

.w-md {
  max-width: 600px;
}

.w-sm {
  max-width: 400px;
}

.btn {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 0.65rem 1.5rem;
}

.btn-group-lg > .btn,
.btn-lg {
  padding: 0.75rem 2rem;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.3rem 0.75rem;
}

.btn-primary {
  background-color: #07958c;
  border-color: #07958c;
  transition: all 0.15s ease-in-out;
}

.btn-primary:hover {
  background-color: #0b7c75;
  border-color: #0b7c75;
  transition: all 0.15s ease-in-out;
  transform: translateY(2px);
}

.btn-primary:focus {
  background-color: #0b7c75;
  border-color: #0b7c75;
  border: whitesmoke;
}

.testimonial-item {
  max-width: 800px;
  padding: 40px;
}

.testimonial-item:nth-child(even) {
  margin-left: auto;
}

.testimonial-image {
  max-width: 100px;
  float: left;
  margin-right: 25px;
}

.marker-highlight {
  position: relative;
  display: inline-block;
}

.marker-highlight:before {
  content: "";
  background-color: #07c6b987;
  width: 102%;
  height: 0.2em;
  position: absolute;
  z-index: -2;
  filter: url(#marker-shape);
  left: -0.05em;
  padding: 0 0.25em;
  bottom: 0.2em;
}

.bg-primary {
  background-color: #077c74 !important;
}

.px-3:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all 0.15s ease-in-out;
}

.px-3 {
  transition: all 0.15s ease-in-out;
}

.h-100:hover {
  transform: scale3d(1.02, 1.02, 1.02) translateY(-5px);
  transition: all 0.15s ease-in-out;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}

.h-100 {
  transition: all 0.15s ease-in-out;
  border: 1px solid #eaeaea;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.github-field:hover {
  transform: scale3d(1.02, 1.02, 1.02);
  transition: all 0.15s ease-in-out;
}

.github-field {
  transition: all 0.15s ease-in-out;
}

.kind-person {
  color: #077c74;
  text-decoration: none;
  text-decoration-color: #077c74;
}

a {
  color: #077c74;
}

.btn-light:hover {
  background-color: #bff1ee;
  border-color: #bff1ee;
  transition: all 0.15s ease-in-out;
  transform: translateY(2px);
}

.past-project:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all 0.15s ease-in-out;
}

.shipping-more:hover {
  font-weight: 500;
  transition: all 0.15s ease-in-out;
}

.shipping-more {
  transition: all 0.15s ease-in-out;
}

.bi-camera2:hover,
.bi-youtube:hover,
.bi-github:hover,
.bi-linkedin:hover {
  color: #7ee2dc;
  transition: all 0.3s ease-in-out;
}

.bi-camera2,
.bi-youtube,
.bi-github,
.bi-linkedin {
  transition: all 0.3s ease-in-out;
}

.name-icon {
  color: #077c74;
}

.nav-item:hover {
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all 0.15s ease-in-out;
}

.nav-item {
  transition: all 0.15s ease-in-out;
}

.mt-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mt-5 .btn-primary {
  margin-top: 5px;
  width: 325px;
}

.language-icon {
  width: 90px;
  padding: 5px;
}

.language-icon-container {
  display: flex;
  max-width: 800px;
}
